/* CSS for Memory Match and High Scores pages */

:root {
    --background-color: #616161;
    --island-bg-color: #918989;
    --island-border-color: #E4E4E4;
    --sub-bg-color: #D9D9D9;
    --sub-bg-color-selected: #c5c5c5;
    --text-color-primary: white;
    --text-color-secondary: #E7E7E7;
    --border-radius-desktop: 0.75rem;
    --border-radius-mobile: 0.5rem;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.25rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: clamp(1rem, 6vw + 1rem, 15rem);
}

.island {
    background: var(--island-bg-color);
    border: 2px solid var(--island-border-color);
    border-radius: var(--border-radius-desktop);
    box-shadow: #9f9f9f 0.1rem 0.1rem 0.3rem 0;
}

#game-title h2 {
    color: var(--text-color-primary);
}

#game-title p {
    color: var(--text-color-secondary);
}

table {
    border-collapse: collapse;
    border-spacing: 50px;
}

table td {
    padding-right: 2rem;
}

table thead tr {
    background: #7a7a7a;
    color: #ffffff;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background: #f6f6f6;
}

#game-title {
    padding: 1rem;
}

#game-area {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

#status-panel {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    min-width: 15rem;
}

#status-panel h2 {
    font-size: clamp(1.25rem, 2vw + 0.5rem, 2.5rem);
}

#statuses {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

#statuses div {
    width: 100%;
    border-radius: var(--border-radius-desktop);
    padding: 0.25rem;
    font-weight: bold;
    color: var(--island-bg-color);
    background: var(--sub-bg-color);
}

#statuses div p {
    font-size: clamp(0.5rem, 1.25vw + 0.5rem, 1.5rem);
}

#statuses div span {
    font-size: clamp(0.75rem, 2vw + 1rem, 3rem)
}

#status-panel button {
    font-weight: bold;
    width: 100%;
    border-radius: var(--border-radius-desktop);
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: auto;
}

#status-panel button:active {
    filter: brightness(0.7);
}

#btn-new-game {
    color: white;
    background: linear-gradient(to bottom, #6EC958, #6AB458);
    border: 2px #A7EA97 solid;
}

#btn-reset {
    color: white;
    background: linear-gradient(#AFAFAF, #A5A5A5);
    border: 2px #C5C5C5 solid;
}

#board {
    width: 100%;
    min-height: 35rem;
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
}

.four-by-four {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.six-by-six {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.card {
    background: var(--sub-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 !important;
    /*    fix later bulma css auto margin  */
}

.card:hover {
    filter: brightness(0.9);
}

.card-face {
    font-size: 3rem;
    visibility: hidden;
}

.flipped {
    background: var(--sub-bg-color-selected);
}

.flipped .card-face {
    visibility: visible;
}

.matched {
    border: 4px solid #5dc86d;
    background: #72ed85;
}

.matched .card-face {
    visibility: visible;
}

.wrong {
    border: 4px solid #d15151;
    background: #f16666;
}

#scores-table {
    border: black solid 1px;
}

#message {
    visibility: hidden;
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    width: 25rem;
    text-align: center;
    aspect-ratio: 1/1;
    flex-direction: column;
    color: var(--text-color-primary);
    background: var(--island-bg-color);
    padding: 1rem;
}

#message h2 {
    color: #6bf86b;
}

#save-score-container {
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    color: var(--island-bg-color);
    border-radius: var(--border-radius-desktop);
    background: var(--sub-bg-color);
    margin-top: auto;
}

#name-input {
    border: 1px solid var(--island-bg-color);
    border-radius: var(--border-radius-desktop);
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1.25rem
}

#btn-save-score {
    color: var(--text-color-primary);
    font-weight: bold;
    width: 100%;
    border-radius: var(--border-radius-desktop);
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: auto;
    background: linear-gradient(to bottom, #66dded, #56c8d8);
    border: 2px #98f3ff solid;
}

#btn-save-score.disabled {
    background: linear-gradient(to bottom, #66dded, #56c8d8);
}

@media (max-width: 769px) {
    main {
        padding-inline: 1rem;
    }

    #statuses {
        flex-direction: row;
    }

    #statuses div {
        border-radius: 0;
    }

    #statuses div:first-child {
        border-top-left-radius: var(--border-radius-mobile);
        border-bottom-left-radius: var(--border-radius-mobile);
    }

    #statuses div:last-child {
        border-top-right-radius: var(--border-radius-mobile);
        border-bottom-right-radius: var(--border-radius-mobile);
    }

    #status-panel button {
        border-radius: var(--border-radius-mobile);
    }

    #game-area {
        flex-direction: column;
    }

    .island {
        border-radius: var(--border-radius-mobile);
        width: 100%;
    }
}