/* CSS for Memory Match and High Scores pages */

:root {
    --background-color: #616161;
    --island-bg-color: #918989;
    --island-border-color: #E4E4E4;
    --sub-bg-color: #D9D9D9;
    --sub-bg-color-selected: #c5c5c5;
    --text-color-primary: white;
    --text-color-secondary: #E7E7E7;
    --border-radius-desktop: 0.5rem;
    --border-radius-mobile: 0.25rem;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 3rem;
    line-height: 5rem;
}

h2 {
    font-size: 2rem;
    line-height: 4rem;
}

h3 {
    font-size: 1.5rem;
    line-height: 3rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline: clamp(1rem, 6vw + 1rem, 15rem);
}

.island {
    background: var(--island-bg-color);
    border: 2px solid var(--island-border-color);
    border-radius: var(--border-radius-desktop);
}

#game-title h2 {
    color: var(--text-color-primary);
}

#game-title p {
    color: var(--text-color-secondary);
}

table {
    border-collapse: collapse;
    border-spacing: 50px;
}

table td {
    padding-right: 2rem;
}

table thead tr {
    background: #7a7a7a;
    color: #ffffff;
    text-align: center;
}

table tbody tr:nth-child(even) {
    background: #f6f6f6;
}

#game-title {
    padding: 1.5rem;
}

#game-area {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

#status-panel {
    color: white;
    /*max-width: 20rem;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    height: max-content;
}

#status-panel button {
    font-weight: bold;
    width: 100%;
    border-radius: var(--border-radius-desktop);
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-left: auto;
}

#status-panel button:active {
    filter: brightness(0.7);
}

#btn-new-game {
    color: white;
    background: linear-gradient(to bottom, #6EC958, #6AB458);
    border: 2px #A7EA97 solid;
}

#btn-reset {
    color: white;
    background: linear-gradient(#AFAFAF, #A5A5A5);
    border: 2px #C5C5C5 solid;
}

#board {
    width: 100%;
    min-height: 35rem;
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
}

.four-by-four {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.six-by-six {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

/* Card Styles */

.card {
    background: var(--sub-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 !important;
    /*    fix later bulma css auto margin  */
}

.card:hover {
    filter: brightness(0.9);
}

.card-face {
    font-size: 2rem;
    visibility: hidden;
}

.flipped {
    background: var(--sub-bg-color-selected);
}

.flipped .card-face {
    visibility: visible;
}

.matched {
    border: 4px solid #5dc86d;
}

.matched .card-face {
    visibility: visible;
}

.wrong {
    border: 4px solid #d15151;
}

#scores-table {
    border: black solid 1px;
}

@media (max-width: 769px) {
    main {
        padding-inline: 1rem;
    }

    #game-area {
        flex-direction: column;
    }

    /*#board {*/
    /*    aspect-ratio: 1/1;*/
    /*    min-height: auto;*/
    /*}*/

    .island {
        width: 100%;
    }
}